body {
  margin-top: -45px;
  text-align: center;
}

.modal-header {
  margin: auto;
}

.spriteOption:hover {
  cursor: pointer;
  width: 111px;
}

.navbar {
  margin: auto;
  top: 50px;
  width: 505px;
}
